<form>
  <div class="form-group">
    <label>title</label>
    {{input type="text" class="form-control" value=title placeholder="add recipe..."}}
  </div>
  <button {{action 'addTask'}} class="btn btn-primary">Submit</button>
</form>
