<form>
  <div class="form-group" style="width: 75%; margin-left:22%">
    <label for="exampleFormControlInput1" style="font-weight:300">Search recipes for:</label>
    <div style="width: 50%; display: inline-block">{{input class="form-control" value=qValue placeholder="e.g. chicken, eggs, rice"}}</div>
    <button {{action 'search' qValue}} class="btn btn-primary">Search</button>
  </div>
</form>

{{outlet}}
